body {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif "Trebuchet MS", Arial;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  width: 300px;
}
